body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0f14;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0f141b;
  align-items: center;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.btn {
  background: #1da1f2;
  padding: 10px 18px;
  border-radius: 8px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.bigbtn {
  background: #1da1f2;
  padding: 15px 25px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
}

/* SHOP */
.shop-title {
  text-align: center;
  padding: 60px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #111827;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  text-align: center;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.price {
  font-size: 28px;
  margin: 15px 0;
}

.card button {
  background: #1da1f2;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* glow */
.vip {
  box-shadow: 0 0 20px gold;
}

.vipplus {
  box-shadow: 0 0 20px orange;
}
